<div id="<%= dom_id property %>">
  <h2 class="my-4 font-bold text-lg">
    <%= property.name %>
  </h2>

  <% if property.slug.present? %>
    <h3 class="my-4 font-bold text-md">
      <%= property.slug%>
    </h3>
  <% end %>

  <p class="my-5">
    <%= property.description %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this property", property_path(id: property.slug.present? ? property.slug : property.id ), class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this property", edit_property_path(property), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
