<div id="<%= dom_id property %>">
  <h2 class="my-4 font-bold text-lg">
    <%= property.name %>
  </h2>

  <p class="my-5">
    <%= property.description %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this property", property, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this property", edit_property_path(property), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
